.content {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
    border: 0.025rem solid #286071;
    font-size: 1.5rem;
    border-radius: 0.25rem;
}

.result {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #eef3f6;
    border: 0.025rem solid #286071;
    font-size: 1.5rem;
    border-radius: 0.25rem;
}
